// variables
$text-size: 1.6rem;
/*// ORANGE-BLUE COLOR SCHEME
$text-color:#fff;
$text-color-active: #fff;
$block-color1: #02B3E4;
$block-color2:#F95C3C;
$block-color3:#02CCBA;
$block-color4:#fff;
*/
/*
// TRAVELER COLOR SCHEME
$text-color:#AB0433;
$text-color-active: #5E0C23;
$block-color1: #FFED07;
$block-color2:#05BEF7;
$block-color3:#D1C306;
$block-color4:#13C1F7;
*/
// Color-Theme-4 COLOR SCHEME
$text-color:#F2D8A7;
$text-color-active: #F24F13;
$block-color1: #4D688C;
$block-color2:#384759;
$block-color4:#F2D8A7;

%block{
  border-bottom: 4px double $text-color-active;
  padding: 40px 0 20px;
  background-color: $block-color2;
}
// BODY COMMON PART
body {
  background-image: url(../../src/images/keyboard-wallpaper-13.jpg);
  background-position:  top center;
  background: $block-color2;
  background-size:cover;
  color: $text-color;
  font-family: 'Ubuntu', sans-serif;

}
// header start
header{
  @extend %block;
  background-color: $block-color1;

}
nav .navbar-header a{
  color:$text-color;
  text-decoration: none;
  &:hover, &:active{
    text-decoration: none;
    color: $text-color-active;
  }
}
.navbar-toggle{
  border-color: $text-color-active;
  color: $text-color-active;
  padding: 7px 10px;
  &.collapsed{
    border-color: $text-color;
    color: $text-color;
  }
}
.navbar-nav{
  li{
    a{
      font-size: $text-size;
      color: $text-color;
      &:focus,&:hover {
        color: $text-color-active;
        background: $block-color2;
        border: 1px solid $block-color2;
        border-radius: 5px;
      }
    }
    &.active{
      a,a:focus,a:hover{
        color: $text-color-active;
        background: $block-color2;
        border: 1px solid $block-color2;
        border-radius: 5px;
      }
    }
  }
}
// header end

// MAIN
main {
  @extend %block;

  h1{
    margin-top: 0;
  }
  h2{
    &::before{
      content: "";
      display: table;
      clear: both;
    }
    a {
      text-decoration: none;
      color: $text-color;
      &:hover, &:active{
        color: $text-color-active;
      }
    }
  }

  .infoblock{
    h3{
      margin: 0 0 20px;
      a {
        text-decoration: none;
        color: $text-color;
        &:hover{
          color: $text-color-active;
        }
      }
      font-size: 2.8rem;
    }
    h4{
      @extend h3;
      font-size: 2.2rem
    }
    h5{
      @extend h3;
      font-size: 2.0rem
    }
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
    p, a, ul>li{
      font-size: $text-size;
      letter-spacing: 0.7px;
      line-height: 2.5rem;
    }
    a{
      color: $text-color;
      &:hover{
        color: $text-color-active;
        text-decoration: none;
      }

      i.fa{
        font-size: ($text-size*3.5);
      }
    }
  }
  // examples directive
  .examples{
    display: flex;
    justify-content: center;
    .example-details{
      position: relative;
      width: 33.33333333%;
      border: 15px solid $block-color2;

      &.previous {
        float: left;
        order:1;
        &:before{
          content: "";
          display: table;
          width: 100%;
          height: 100%;
          background: -webkit-linear-gradient(90deg, $block-color2, transparent);
          background: -o-linear-gradient(90deg, $block-color2, transparent);
          background: linear-gradient(90deg, $block-color2, transparent);
          position: absolute;
          z-index: 2;
        }
      }
      &.next{
        float: right;
        order:3;
        &:before{
          content: "";
          display: table;
          width: 100%;
          height: 100%;
          background: -webkit-linear-gradient(270deg, $block-color2, transparent);
          background: -o-linear-gradient(270deg, $block-color2, transparent);
          background: linear-gradient(270deg, $block-color2, transparent);
          position: absolute;
          z-index: 2;
        }
      }
      &.active{
        order:2;
      }
      img{
        width: 100%;
      }
      %examples-texts{
        position: absolute;
        left: 0;
        right: 0;
        color: $text-color;
        margin: 0;
        padding: 10px;
        &:hover{
          color: $text-color-active;
        }
      }
      p{
        @extend %examples-texts;
        bottom: 0;
        height: 60px;
        background: linear-gradient(to bottom, transparent,$block-color2,$block-color2);
      }
      h4{
        @extend %examples-texts;
        top:0;
        background: linear-gradient(to top, transparent,$block-color2,$block-color2);
      }
    }
  }
  ul.pager{
      li{
        display: inline-block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        border: 3px solid $block-color1;
        // color: $block-color4;
        box-sizing: content-box;
        background-color: $block-color2;
        &:nth-child(1){
          border-radius: 50% 0 0 50%;
        }
        &:nth-child(2){
          border-radius: 0 50% 50% 0;
        }
        &:hover{
          cursor: pointer;
          background-color: $block-color1;
        }
        &:active{
          color: $text-color-active;
          background-color: $block-color1;
        }
      }
    }
  }
// MAIN END


// FOOTER START
footer{
  @extend %block;
  border: none;
  background-color: $block-color1;
  .footBlocks{
    ul{
      list-style: none;
      display: flex;
      justify-content: center;
      li{
        margin-top: 15px;
        line-height: 40px;
        border-radius: 5px;
        color: $text-color;
        &:hover,&.active{
          color: $text-color-active;
          background: $block-color2;
        }
        a{
          font-size: $text-size;
          color: inherit;
          padding: 0 10px;
          &:hover,&:active{
            color: inherit;
            background: $block-color2;
            text-decoration: none;
          }
        }
      }
    }
    .soc{
      display: flex;
      justify-content: center;
      %socials {
        height: 	40px;
        width: 	40px;
        border-radius: 20px;
        display: 	inline-block;
        margin: 15px 15px 0 0;
        background-image: url(../../src/images/socials_big.png);
        background-color: transparent;
        background-size: 500%;
      }
      #fb {
        @extend %socials;
        background-position: 0 -120px;
        &:hover {
          background-position: 0 0;
        }
      }
      #li {
        @extend %socials;
        background-position: -40px -40px;
        &:hover {
          background-position: -40px 0;
        }
      }
      #gh {
        @extend %socials;
        background-position: -80px -40px;
        &:hover {
          background-position: -80px 0;
        }
      }
    }

  }
}
// FOOTER END


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

}

@media (max-width: 991px) {
  /* Header */
  h1{
    font-size: 32px;
  }
  /*Header end*/
   /* main start*/
  main{
   .examples{
     .example-details{
      width: auto;
      }
    }
  }
   /* main end*/
}
