main{
  border-bottom: 4px double #777;
  padding: 40px 0 20px;
  background-color: rgba(0,0,0, 0.42);
}
$text-color:#d9d9d9;
$text-size: 1.6rem;
body {
  background-image: url(../../src/images/keyboard-wallpaper-13.jpg);
  background-position:  top center;
  background-color: #000;
  background-size:cover;
  color: $text-color;
  font-family: 'Ubuntu', sans-serif;
}
// header start
header{
  @extend main;
}
nav .navbar-header a
{
  color:$text-color;
  text-decoration: none;
  &:hover, &:active{
    text-decoration: none;
  }
}
.navbar-inverse .navbar-nav{
  li{
    a{
      font-size: $text-size;
      color: $text-color;
      &:focus,&:hover {
        color: #fff;
        background: radial-gradient(closest-side, rgba(255,255,255,0.2), transparent);
      }
    }
    &.active{
      a,a:focus,a:hover{
        background: radial-gradient(closest-side, rgba(255,255,255,0.2), transparent);
      }
    }
  }
}
// header end

// MAIN
.svg-logo-desktop {
  width: 20.25rem;
  max-width: 100%;
  max-height: 4.125rem;
  :hover{
    cursor: pointer;
  }
  g {
    fill: #FFF;
  }
}
.navbar-inverse {
  background-color: transparent;
  border: none;
}
h1{
  margin-top: 0;
}
h2{
  &::before{
    content: "";
    display: table;
    clear: both;
  }
  a {
    text-decoration: none;
    color: $text-color;
    &:hover, &:active{
      color: $text-color;
    }
  }
}

.infoblock{
  h3{
    margin: 0 0 20px;
    a {
      text-decoration: none;
      color: $text-color;
      &:hover{
        color: #9cc2e3;
      }
    }
    font-size: 2.8rem;
  }
  h4{
    @extend h3;
    font-size: 2.2rem
  }
  h5{
    @extend h3;
    font-size: 2.0rem
  }
  border-radius: 10px;
  padding: 20px 30px;
  box-sizing: border-box;
  border: 5px solid rgba(255,255,255,0);
  position: relative;
  p, a, ul>li{
    font-size: $text-size;
    letter-spacing: 0.7px;
    line-height: 2.5rem;
  }
  a{
    color: #9cc2e3;
    &:hover{
      color: #9cc2e3;
    }
    &.contact{
      color: $text-color;
    }
  }
}
.session-task, .session-result{
  @extend .infoblock;
}
// examples directive
.example-details{
  position: relative;
  // height: 300px;
  img{
    width: 100%;
  }
  %examples{
    position: absolute;
    left: 0;
    right: 0;
    color: #000;
    background: linear-gradient(to bottom, transparent,#fff,transparent);
    margin: 0;
    padding: 10px;
  }
  p{
    @extend %examples;
    bottom: 0;
    height: 60px;
  }
  h4{
    @extend %examples;
    top:0;
  }
}
// MAIN END


// FOOTER START
footer{
  @extend main;
  border: none;
  .footBlocks{
    ul{
      list-style: none;
      display: flex;
      justify-content: center;
      li{
        margin-top: 15px;
        line-height: 40px;
        a{
          font-size: $text-size;
          color: $text-color;
          padding: 0 10px;
          &:hover,&:active{
            color: #fff;
            background: radial-gradient(closest-side, rgba(255,255,255,0.2), transparent);
            text-decoration: none;
          }
        }
      }
    }
    .soc{
      display: flex;
      justify-content: center;
      %socials {
        height: 	40px;
        width: 	40px;
        border-radius: 20px;
        display: 	inline-block;
        margin: 15px 15px 0 0;
        background-image: url(../../src/images/socials_big.png);
        background-color: transparent;
        background-size: 500%;
      }
      #fb {
        @extend %socials;
        background-position: 0 -120px;
        &:hover {
          background-position: 0 0;
        }
      }
      #li {
        @extend %socials;
        background-position: -40px -40px;
        &:hover {
          background-position: -40px 0;
        }
      }
      #gh {
        @extend %socials;
        background-position: -80px -40px;
        &:hover {
          background-position: -80px 0;
        }
      }
    }

  }
}
// FOOTER END


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

}

@media (max-width: 991px) {
  /* Header */
  h1{
    font-size: 32px;
  }
  /*Header end*/
}
