<div class="footBlocks col-md-3 col-sm-3 col-xs-6">
  <h3>About</h3>
  <ul>
    <li><a href="index.html">My resume</a></li>
    <li><a href="https://kirperepolov.github.io/GlobalBC/" target="_blank">GL basecamp</a></li>
    <li><a href="index.html">News</a></li>
    <li><a href="index.html">Events</a></li>
  </ul>
</div>
<div class="footBlocks col-md-3 col-sm-3 col-xs-6">
  <h3>Get Involved</h3>
  <ul>
    <li><a href="index.html">Work with Us</a></li>
    <li><a href="index.html">Subscribe for Newsletter</a></li>
    <li><a href="index.html">Forum</a></li>
    <li> </li>
  </ul>
</div>
<div class="footBlocks col-md-3 col-sm-3 col-xs-6">
  <h3>Help Center</h3>
  <ul>
    <li><a href="index.html">FAQs</a></li>
    <li><a href="index.html">Contact Us</a></li>
    <li><a href="index.html">How to Start a Challenge</a></li>
    <li> </li>
  </ul>
</div>
<!-- <div class="socials"> -->
<div class="footBlocks col-md-3 col-sm-3 col-xs-6">
  <h3>socials</h3>
  <div class="soc">
    <a href="https://www.facebook.com/Kir.Perepolov" target="_blanc">
      <div id="fb"></div>
    </a>
    <a href="http://www.twitter.com/" target="_blanc">
      <div id="tw"></div>
    </a>
    <a href="https://plus.google.com/" target="_blanc">
      <div id="go"></div>
    </a>
  </div>
</div>
<div class="copyright">&copy; 2017. Kir Perepölov</div>
