<div class="container">
  <div class="footBlocks col-sm-4 col-xs-12">
    <ul class="text-center">
      <li class="hidden" ui-sref-active="active"><a href="index.html">My resume</a></li>
      <li ui-sref-active="active"><a href="https://kirperepolov.github.io/GlobalBC/" target="_blank">GL basecamp</a></li>
      <li ui-sref-active="active"><a ui-sref="examples">Work examples</a></li>
    </ul>
  </div>



  <!-- <div class="socials"> -->
  <div class="footBlocks col-md-offset-4 col-md-2 col-sm-offset-3 col-sm-3 col-xs-offset-3 col-xs-6">
    <div class="soc">

      <a href="https://www.facebook.com/Kir.Perepolov" target="_blanc">
        <div id="fb"></div>
      </a>
      <a href="https://ua.linkedin.com/in/kir-perepyolov-b4255717" target="_blanc">
        <div id="li"></div>
      </a>
      <a href="https://github.com/Kirperepolov/" target="_blanc">
        <div id="gh"></div>
      </a>
    </div>
  </div>
</div>
<div class="copyright container text-center">&copy; 2017. Kir Perepölov</div>
